<!DOCTYPE html>
<html lang  = "es">
    <head>
        <meta charset = "utf-8">
        <title>¡Gerardo!</title>
    </head>
    <body>
        <header>
            <h1>¡Gerardo!</h1>
            <nav>
                <ul type = "square">
                    <li><a href = "#rosario_gera">¿Cómo conoció Rosario a Gerardo?</a></li>
                    <li><a href = "#sebas_gera">¿Cómo conoció Sebastián a Gerardo?</a></li>
                    <li><a href = "#mejorar_gera">¿Cómo podemos mejorar nuestra relación con Gerardo?</a></li>
                </ul>
            </nav>
        </header>
    <hr>
    <section id = "rosario_gera">
        <h2>¿Cómo conoció Rosario a Gerardo?</h2>
        <p>

        </p>
    </section>
    <hr>
    <section id = "sebas_gera">
        <h2>¿Cómo conoció Sebastián a Gerardo?</h2>
        <p>
            Conocí a Gerardo en el segundo semestre de la carrera, casi al mismo tiempo que conocí a Vanya y a Josué. 
            Me empecé a llevar con los tres porque jugábamos ajedrez en los recesos.
        </p>
        <p>
            De ahí, hablé más con Gerardo específicamente ya que teníamos varios gustos en común fuera del ajedrez, en especial porque a 
            ambos nos gustan mucho los videojuegos. Por ejemplo, ambos nos obsesionamos con uno llamado Subway Surfers, jugándolo todo el tiempo en 
            cuarto semestre.
        </p>
    </section>
    <hr>
    <section id = "mejorar_gera">
        <h2>¿Cómo podemos mejorar nuestra relación con Gerardo?</h2>
        <h3>Rosario</h3>
        <p>

        </p>
        <h3>Sebastián</h3>
        <p>
            No diría que se tiene que mejorar per se, solo que se puede profundizar más con el tiempo, ya que, al menos a mi parecer, somos buenos amigos.
        </p>
    </section>
    <hr>
    <footer>
        <a href = "../index.html">Inicio</a>
    </footer>
    </body>
</html>