<!DOCTYPE html>
<html lang="es-mx">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Anecdotario - El Gera</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Tiny5&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Tiny5&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tiny5&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../assets/css/styles_geraHV.css">

    </head>
    <body>
        <header>
            <h1>Anecdotario - Gerardo</h1>
            <a href="../index.html">
                Volver a la página principal
            </a>
        </header>
        <hr>
        <h2>El Geras, Gerardo, Don Gera, El Patrón.</h2>
        <img src="../assets/img/Gera_profile.jpg">
        <hr>
        <h3>Cómo me conoció Sebas</h3>
        <p>
            Conocí a Gerardo en el segundo semestre de la carrera, casi al mismo tiempo que conocí a Vanya y a Josué. 
            Me empecé a llevar con los tres porque jugábamos ajedrez en los recesos.
        </p>
        <p>
            De ahí, hablé más con Gerardo específicamente ya que teníamos varios gustos en común fuera del ajedrez, en especial porque a 
            ambos nos gustan mucho los videojuegos. Por ejemplo, ambos nos obsesionamos con uno llamado Subway Surfers, jugándolo todo el tiempo en 
            cuarto semestre.
        </p>
        <hr>
        <h3>Cómo me conoció Rosario</h3>
        <p>
            Se podría decir que nos conocimos en el transcurso del tercer semestre, cuando los dos grupos de mi generación empezaron a compartir salón
            en algunas materias. Tiempo después, interactuamos más cuando formamos parte del comité organizador de la Jornada Científica Estudiantil que
            se desarrolló en la facultad. Siempre me pareció alguien divertido, aunque un poco molesto; una persona lista, pero un tanto distraída. La 
            verdad, no considero que hayamos convivido mucho en el tiempo que llevamos conociéndonos, pero, sin duda alguna, la poca convivencia ha 
            sido amena.
        </p>
        <hr>
        <h3>Cómo podríamos mejorar la convivencia</h3>
        <p>
            [Por mi parte, así estamos bien. No soy de salir de casa :v - El Gera]
        </p>
        <h4>Rosario</h4>
        <p>
            La mejor manera de mejorar la convivencia es conocernos más, para entendernos mejor. Hablar o discutir 
            temas que nos interesen puede ayudarnos a encontrar hobbies u opiniones parecidas. Sinceramente, creo que la relación que hemos desarrollado 
            como compañeros de clase es muy buena. Además, nunca esperé conocerles como les conozco, aunque no sepa demasiado de ellos. Me agradan y creo que el 
            simple hecho de poder sentarme a hablar a veces de cosas triviales o cosas relacionadas con la escuela, ya sea entre clases o fuera, es cómodo.
        </p>
        <h4>Sebastián</h4>
        <p>
            No diría que se tiene que mejorar per se, solo que se puede profundizar más con el tiempo, ya que, al menos a mi parecer, somos buenos amigos.
        </p>
        <hr>
        <footer>Copyright© 2024 - WebDevs Chingones, todos los derechos reservados.</footer>
    </body>
</html>
