<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anecdotario | Gerardo</title>
</head>
<body> <header>
    <h1>Anecdotario - Gerardo</h1>
    <a href="../index.html">Página principal</a>
    <hr>

   </header>
        <h2>Gerardo </h2>
        <img src=> 
            
        </a>
        </header>
        <hr>
        <section>
        <h3>Cómo me conoció Sebas</h3>
        <p></p>

        <hr>

        <h3>Cómo me conoció Rosario</h3>
        <p>Se podría decir que nos conocimos en el transcurso del tercer semestre, cuando los dos grupos de mi generación empezaron a compartir salón
            en algunas materias. Tiempo después, interactuamos más cuando formamos parte del comité organizador de la Jornada Científica Estudiantil que
            se desarrolló en la facultad. Siempre me pareció alguien divertido, aunque un poco molesto; una persona lista, pero un tanto distraída. La 
            verdad, no considero que hayamos convivido mucho en el tiempo que llevamos conociéndonos, pero, sin duda alguna, la poca convivencia ha 
            sido amena.</p>
        </section>

        <hr>

        <section>
        <h2>¿Cómo podríamos mejorar la convivencia?</h2>
        <p>La mejor manera de mejorar la convivencia es conocernos más, para entendernos mejor. Hablar o discutir 
            temas que nos interesen puede ayudarnos a encontrar hobbies u opiniones parecidas. Sinceramente, creo que la relación que hemos desarrollado 
            como compañeros de clase es muy buena. Además, nunca esperé conocerles como les conozco, aunque no sepa demasiado de ellos. Me agradan y creo que el 
            simple hecho de poder sentarme a hablar a veces de cosas triviales o cosas relacionadas con la escuela, ya sea entre clases o fuera, es cómodo.</p>
        </section>
</body>
</html>