<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anecdotario | Rosario</title>
</head>
<body> <header>
    <h1>Anecdotario - Rosario</h1>
    <a href="../index.html">Página principal</a>
    <hr>

   </header>
        <h2>Rosario Rendon Valle</h2>
        <img src="../assets/img/rosario_profile.jpeg" alt="Fotografia de Rosario"> 
            
        </a>
        </header>
        <hr>
        <section>
        <h3>Cómo me conoció Sebastian</h3>
        <p></p>

        <hr>

        <h3>Cómo me conoció Gerardo</h3>
        <p></p>
        </section>

        <hr>

        <section>
        <h3>¿Cómo podríamos mejorar la convivencia?</h3>
        <p></p>
        </section>
</body>
</html>