<!DOCTYPE html>
<html lang="es-mx">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Anecdotario - Rosario</title>
        <link rel="stylesheet" href="../assets/css/styles_rosario.css">
    </head>
    <body>
        <header>
            <h1>Anecdotario - Rosario</h1>
            <a href="../index.html">
                Volver a la página principal
            </a>
        </header>
        <hr>
        <h2>Rosario, Ros, Chayo.</h2>
        <img src="../assets/img/rosario_profile.jpeg" alt="Fotografia de Rosario">
        <img>
        <hr>
        <h3>Cómo me conoció Gera</h3>
        <p>
            Es una historia perturbadora llena de sangre y dolor que no quisiera repetir Dx Nah. Es broma.
        </p>
        <p>
            Siendo honesto, no recuerdo cómo nos conocimos, pero con el tiempo nos volvimos buenos compañeros. No hay persona mejor compartida y bondadosa que Rosario C: 
        </p>
        <hr>
        <h3>Cómo me conoció Sebas</h3>
        <p>
            Técnicamente conocí a Rosario ya que llegamos a clases presenciales en segundo, ella siendo del 201 y yo del 202, compartíamos una que otra clase, 
            pero la verdad no trataba a mis compañeros del otro grupo en ese entonces.
        </p>
        <p>
            Cuando ya empecé a hablar con ella fue en cuarto semestre, cuando empezamos a trabajar en la Jornada Científico Estudiantil ese año. 
            Quedamos ambos coordinadores de dos respectivas categorías, yo quedé en la categoría de Ajedrez y ella en la de Cubo Rubik. 
            Después empezamos a encontrarnos más por las clases del área de cómputo que compartíamos.
        </p>
        <hr>
        <h3>Cómo podríamos mejorar la convivencia</h3>
        <h4>Gerardo</h4>
        <p>
            De parte de Gerardo: creo que así estamos bien. Soy muy pobre, de escasos recursos económicos para invertir más en nuestra amistad TnT
        </p>
        <h4>Sebastián</h4>
        <p>
            En lo personal, yo siento que hemos llevado una buena amistad, entonces lo único que queda es dejar que avance más con el tiempo.
        </p>
        <hr>
        <footer>Copyright© 2024 - WebDevs Chingones, todos los derechos reservados.</footer>
    </body>
</html>
