<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anecdotario | Rosario</title>
</head>
<body> <header>
    <h1>Anecdotario - Rosario</h1>
    <a href="../index.html">Página principal</a>
    <hr>

   </header>
        <h2>Rosario Rendon Valle</h2>
        <img src="../assets/img/rosario_profile.jpeg" alt="Fotografia de Rosario"> 
            
        </a>
        </header>
        <hr>
        <section>
        <h3>¿Cómo conocí a Sebas?</h3>
        <p>La verdad, no es posible recordar perfectamente cómo llegamos a conocernos. Recuerdo que probablemente conocimos nuestros nombres
            al momento de compartir algunas clases en el primer semestre de la carrera y probablemente vimos vagamente nuestras fotos de perfil.
            En ese entonces no cruzamos ninguna palabra, para ser sincera, no recuerdo haber prestado demasiada atención a los estudiantes 
            que no formaban parte de mi grupo inicial, así la existencia de él y la mayor parte de su grupo pasó desapercibida.
            Quizás podría decir que nos conocimos al momento de empezar a compartir aula en algunas clases de tercer semestre. 
            Fue entonces que empecé a diferenciarlo de los demás en su grupo y en la escuela en general. Es ahí cuando probablemente 
            empezamos a compartir algunas palabras y a convivir de manera más amistosa. Se podría decir que llevamos año y medio de conocernos, 
            y al menos ante mi manera de pensar, tenemos una buena relación.</p>

        <hr>

        <h3>¿Cómo conocí a Gerardo?</h3>
        <p>Se podría decir que nos conocimos en el transcurso del tercer semestre, cuando los dos grupos de mi generación empezaron a compartir salón
            en algunas materias. Tiempo después, interactuamos más cuando formamos parte del comité organizador de la Jornada Científica Estudiantil que
            se desarrolló en la facultad. Siempre me pareció alguien divertido, aunque un poco molesto; una persona lista, pero un tanto distraída. La 
            verdad, no considero que hayamos convivido mucho en el tiempo que llevamos conociéndonos, pero, sin duda alguna, la poca convivencia ha 
            sido amena.</p>
        </section>

        <hr>

        <section>
        <h2>¿Cómo podríamos mejorar la convivencia?</h2>
        <p>La mejor manera de mejorar la convivencia es conocernos más, para entendernos mejor. Hablar o discutir 
            temas que nos interesen puede ayudarnos a encontrar hobbies u opiniones parecidas. Sinceramente, creo que la relación que hemos desarrollado 
            como compañeros de clase es muy buena. Además, nunca esperé conocerles como les conozco, aunque no sepa demasiado de ellos. Me agradan y creo que el 
            simple hecho de poder sentarme a hablar a veces de cosas triviales o cosas relacionadas con la escuela, ya sea entre clases o fuera, es cómodo.</p>
        </section>
</body>
</html>
