<!DOCTYPE html>
<html lang  = "es">
    <head>
        <meta charset = "utf-8">
        <title>¡Sebastián!</title>
    </head>
    <body>
        <header>
            <h1>¡Sebastián!</h1>
            <nav>
                <ul>
                    <li><a href = "#gerardo_sebas">¿Cómo conoció Gerardo a Sebastián?</a></li>
                    <li><a href = "#rosario_sebas">¿Cómo conoció Rosario a Sebastián?</a></li>
                    <li><a href = "#mejorar_rosario">¿Cómo podemos mejorar nuestra relación con Sebastián?</a></li>
                </ul>
            </nav>
        </header>
    <hr>
    <section id = "gerardo_sebas">
        <h2>¿Cómo conoció Gerardo a Sebastián?</h2>
        <p>

        </p>
    </section>
    <hr>
    <section id = "rosario_sebas">
        <h2>¿Cómo conoció Rosario a Sebastián?</h2>
        <p>

        </p>
    </section>
    <hr>
    <section id = "mejorar_sebas">
        <h2>¿Cómo podemos mejorar nuestra relación con Sebastián?</h2>
        <h3>Gerardo</h3>
        <p>

        </p>
        <h3>Rosario</h3>
        <p>

        </p>
    </section>
    <hr>
    <footer>
        <p><a href = "../index.html">Inicio</a></p>
    </footer>
    </body>
</html>