<!DOCTYPE html>
<html lang = "es-mx">
    <head>
        <meta charset="UTF-8">
        <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
        <title> Anecdotario - Rosario</title>
    </head>
    <body>
        <header>
            <h1>Anecdotario - Rosario</h1>
            <a href="../index.html">
                Volver a la página principal
            </a>
        </header>
        <hr>
        <h2>Sebas, el top 1, .</h2>
        <img src="../assets/img/Sebas_profile.jpg">
        <hr>
        <h3>Cómo me conoció Gera</h3>
        <p>
            Sinceramente, nomás me arrimé a su partida de ajedrez que tenía contra Josué, si no me equivoco. Después de eso empezamos a hablar más en clases de Programación. Desde entonces hemos tenido un amor casi platónico C:❤️
        </p>
        <hr>
        <h3>Cómo me conoció Rosario</h3>
        <p>
            La verdad, no es posible recordar perfectamente cómo llegamos a conocernos. Recuerdo que probablemente conocimos nuestros nombres
            al momento de compartir algunas clases en el primer semestre de la carrera y probablemente vimos vagamente nuestras fotos de perfil.
            En ese entonces no cruzamos ninguna palabra, para ser sincera, no recuerdo haber prestado demasiada atención a los estudiantes 
            que no formaban parte de mi grupo inicial, así la existencia de él y la mayor parte de su grupo pasó desapercibida.
            Quizás podría decir que nos conocimos al momento de empezar a compartir aula en algunas clases de tercer semestre. 
            Fue entonces que empecé a diferenciarlo de los demás en su grupo y en la escuela en general. Es ahí cuando probablemente 
            empezamos a compartir algunas palabras y a convivir de manera más amistosa. Se podría decir que llevamos año y medio de conocernos, 
            y al menos ante mi manera de pensar, tenemos una buena relación.
        </p>
        <hr>
        <h3>Cómo podríamos mejorar la convivencia</h3>
        <h4>Gerardo</h4>
        <p>
            De parte de Gerardo: pienso lo mismo. Hemos llevado una sana relación como para pensar que no somos suficientes tal y como estamos UwU
        </p>
        <h4>Rosario</h4>
        <p>
            La mejor manera de mejorar la convivencia es conocernos más, para entendernos mejor. Hablar o discutir 
            temas que nos interesen puede ayudarnos a encontrar hobbies u opiniones parecidas. Sinceramente, creo que la relación que hemos desarrollado 
            como compañeros de clase es muy buena. Además, nunca esperé conocerles como les conozco, aunque no sepa demasiado de ellos. Me agradan y creo que el 
            simple hecho de poder sentarme a hablar a veces de cosas triviales o cosas relacionadas con la escuela, ya sea entre clases o fuera, es cómodo.
        </p>
        <hr>
        <footer>Copyright© 2024 - WebDevs Chingones, todos los derechos reservados.</footer>
    </body>
</html>