body {
    background-color: #cbaa79;
}

h1 {
    font-family: "Tiny5";
    font-weight: normal;
    text-align: center;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #856d4a;
    margin: 1em 0;
    padding: 0;
}

a {
    font-family: "Roboto";
}

footer {
    text-align: right;
}

.tiny5-regular {
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }