body {
    background-color: plum;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #9f559f;
    margin: 1em 0;
    padding: 0;
}

h1 {
    font-family: 'Tiny5';
    font-size: 300%;
    color: #9f559f;
    text-align: center;
    font-weight: normal;
}

h2 {
    font-family: 'Playwrite GB S';
}

h3 {
    font-family: 'Roboto';
}

h4 {
    font-family: 'Roboto';
}

p {
    font-family: 'Roboto';
}

img { 
    width: 250px;
}

footer {
    text-align: right;
}

a {
    font-family: 'Roboto';
}

.tiny5-regular {
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.playwrite-gb-s {
    font-family: "Playwrite GB S", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}